<%- include('partials/header')%>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">TRACK YOUR PROGRESS</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">
  <h1 class="cover-heading">What it does</h1>
  <p class="lead">Track your progress is a really great app that will help you acheive your small and large goals by showing them in the form of checkpoints.</p>
  <p class="lead">
    <a  class="btn btn-lg btn-secondary" href="/register" role="button">Register</a>
    <a  class="btn btn-lg btn-secondary" href="/login" role="button">Login</a>
  </p>
</main>



<%- include('partials/footer') %>


<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html> -->
