<%- include('partials/header') %>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">REGISTER</h1>
    <p class="lead">
      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign Up with Google
      </a>
      <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
        <i class="fab fa-facebook"></i>
        Sign Up with Facebook
      </a>
    </p>
  </main>

<%- include('partials/footer') %>
